td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 1rem 0;
}

svg {
  height: 10rem;
  width: 15rem;
}

td:first-of-type, td:first-of-type > div {
  height: 10rem;
  width: 15rem;
}
